@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mobile-light {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("https://allmylinks.s3.amazonaws.com/bg-mobile-light.webp");
}

.bg-mobile-dark {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("https://allmylinks.s3.amazonaws.com/bg-mobile.webp");
}

.light-bg {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("https://allmylinks.s3.amazonaws.com/bg-desktop-light.webp");
}

.dark-bg {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("https://allmylinks.s3.amazonaws.com/bg-desktop.webp");
}

@keyframes slideFromLeft {
  0% {
    left: 0;
  }
  100% {
    left: 53%;
  }
}

@keyframes slideFromRight {
  0% {
    right: 0;
  }
  100% {
    right: 53%;
  }
}

.left-enter {
  animation: slideFromLeft 0.2s ease forwards;
}

.right-enter {
  animation: slideFromRight 0.2s ease forwards;
}